
@model PizzeriaASP.ViewModels.RegisterViewModel

<div id="pw">
    @if (@Model.KeepCurrentPassword)
    {
        <input type="hidden" asp-for="Customer.Losenord" value="@Model.Customer.Losenord"/>
    }
    else
    {
        <label asp-for="Customer.Losenord"></label>
        <input type="password" asp-for="Customer.Losenord" /><br />
    }
</div>
