@model PizzeriaASP.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "Login";
}

<head>
    @*<link href="~/CSS/login.css" rel="stylesheet" type="text/css" />*@

    @*<script src="~/Styles/homeAdd.js" defer></script>*@
</head>

<div id="login-div">
    <h2>Login</h2>
    
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="UserId"></label><br />
        <input type="text" asp-for="UserId" /><br />

        <label asp-for="Password"></label><br />
        <input type="password" asp-for="Password" /><br />

        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" /><br />
        <span asp-validation-for="RememberMe" class="text-danger"></span>

        <br />
        <div>
            <p>
                <input id="submit" class="btn btn-primary" type="submit" value="Log In" />
            </p>
            <p>
                <a asp-action="Register">Register</a>
            </p>
        </div>
    </form>
</div>