@using PizzeriaASP.Infrastructure
@model PizzeriaASP.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "Login";
}

<head>
    @*<link href="~/CSS/login.css" rel="stylesheet" type="text/css" />*@

    @*<script src="~/Styles/homeAdd.js" defer></script>*@
</head>

<h2 class="text-center">Login</h2>

<div class="div-min-flex">
   
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="UserId"></label>
        <input type="text" asp-for="UserId" /><br />

        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" /><br />

        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" /><br />
        <span asp-validation-for="RememberMe" class="text-danger"></span>

        <br />
        <div>
            <button id="submit" class="btn btn-primary" type="submit">Log In</button>
            <a class="btn btn-info" asp-action="GoogleLogin" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
                <i class="icon-google-plus-sign"></i> Google Sign-in
            </a>
            <a asp-action="Register">Register</a>
        </div>
    </form>
</div>