
@model string

<div class="alert alert-success alert-dismissable fade in text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> @Model
</div>
