@using Microsoft.AspNetCore.Identity
@using PizzeriaASP
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Validations -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Font images -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />

    <link href="~/CSS/logIn.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/jpg" href="~/Images/_MG_1519.JPG" sizes="32x32">

    <title>@ViewBag.Title</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li is-active-route asp-controller="Home" asp-action="Index">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li is-active-route asp-controller="Product" asp-action="List">
                        <a asp-controller="Product" asp-action="List">Products</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li is-active-route asp-controller="Admin" asp-action="Index">
                            <a asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" date-toggle="dropdown" href="#">
                                <i class="icon-user"></i> @UserManager.GetUserName(User)
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Edit user</a></li>
                                <li><a asp-controller="Account" asp-action="LogOff">Logg off</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li is-active-route asp-controller="Account" asp-action="Register">
                            <a asp-controller="Account" asp-action="Register">
                                <span class="glyphicon glyphicon-user"></span> Sign Up
                            </a>
                        </li>
                        <li is-active-route asp-controller="Account" asp-action="Login">
                            <a asp-controller="Account" asp-action="Login">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                    }
                    <li>@await Component.InvokeAsync("CartSummary")</li>
                </ul>
            </div>
        </nav>

    </header>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
