
@model PizzeriaASP.Models.Matratt

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <h3>@Model.MatrattNamn</h3>
    @Model.Beskrivning
    <h4>@Model.Pris.ToString("c")</h4>
</div>