
@using Microsoft.AspNetCore.Identity
@using PizzeriaASP
@using PizzeriaASP.ViewModels
@model PizzeriaASP.ViewModels.ProductsListViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "List";
}

@Html.Partial("_H2Layout", "Products")


@{
    var userMgm = await UserManager.GetUserAsync(User);

    bool premium;

    premium = SignInManager.IsSignedIn(User) && SignInManager.UserManager.IsInRoleAsync(userMgm, "PremiumUser").Result;
}

<head>
    <link href="~/CSS/products.css" rel="stylesheet" />
</head>


@if (premium)
{
    <div class="alert alert-info alert-dismissable fade in text-center" id="info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>BUY 1 PRODUCT GET 10 POINTS. 100p = 1 FREE PRODUCT!</strong> <br/>
        @Model.Customer.Namn currently have @Model.Customer.Poang points. 
    </div>
}

    <div id="div-products" class="row">
        @{Html.RenderPartial("_ProductList", Model);}
    </div>





