
@model PizzeriaASP.ViewModels.ProductsListViewModel

@{
    ViewData["Title"] = "List";
}

@Html.Partial("_H2Layout", "Products")

<div id="div-products" class="row m-1 p-1">
    <div id="categories" class="col-sm-3">
        @await Component.InvokeAsync("FilteringMenu")
    </div>
    <div class="col-sm-9">
        @foreach (var p in Model.Products)
        {
            @Html.Partial("_ProductSummary", p)
        }
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
             class="btn-group m-1">

        </div>
    </div>
</div>





