
.change-opacity {
    opacity: 1.0;
    transition: 0.3s all;
}

#div-contact, #div-learn-more {
    background-color: #ecf0f1;
    height: 150px;
    width: 20%;
    float: left;
    margin-top: 60px;
}

#div-footer-center {
    background-color: #ecf0f1;
    height: 150px;
    width: 60%;
    float: left;
    margin-top: 60px;
}

#div-footer {
    clear: left;
    background-color: #bdc3c7;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
}

.border {
    border-top: solid 1px #bdc3c7;
    border-bottom: solid 1px #bdc3c7;
    margin: 20px;
}

.border h6 {
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.nav a, .nav a:visited, .nav a:active, .nav .icon-cart span, #cart-navbar a {
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    position: relative;
    display: block;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #404040;
}


#navbar {
    border-bottom: solid 1px #bdc3c7;
    position: fixed;
    width: 100%;
    background-color: #ecf0f1;
}


#main {
    margin-top: 84px;
    min-height: 600px;
    background-image: url('../images/pizza.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right top;
    background-attachment: fixed;
}

#logo a{
    font-size: 52px;
}


#navbar a:hover {
    color: #e67e22;
    background-color: transparent;
}


.dropdown-menu, .dropdown:hover, .nav a:hover {
    background-color: #ebe1c3;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

