
h2, h3 {
    font-family: 'Just Another Hand', cursive;
}

.my-container {
    position: relative;
    width: 100%;
    height: 70px;
}

.block {
    background: #CCC;
    filter: alpha(opacity=60);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.6;
    /* CSS3 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block {
    background-color: white;
    opacity: 0.6;

}

.div-min-flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    overflow: auto;
    max-height: 500px;
    background-color: white;
    opacity: 0.9;
}


table, form {
    background-color: white;
    opacity: 0.9;
}


.div-min-block {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
}

/*.div-ingredients-add {
    float: left;
    width: 30%;
    display: block;
    margin-right: 10px;
}*/

#div-ingredients {
    float: left;
    display: block;
    /*width: 30%;*/
    margin-right: 10px;
}

.div-half {
    /*width: 50%;*/
    float: left;
}

table, form {
    margin: auto;
}

.form-group {
    padding: 10px;
}

td, th {
    padding: 5px;
}

/*#table-ingredients {
    float: left;
    width: 70%;
    margin-right: 10px;
}*/

#save-edit-product {
    clear: left;
}

input, select {
    margin: 4px;
}

.div-min-flex button, .div-min-flex a, .validation, .div-min-block button, .div-min-block a {
    margin: 6px 4px 6px 4px;
}

label {
    display: block;
    float: left;
    margin: 2px;
    width: 100px;
}

.div-clear-left {
    clear: left;
}

input {
    width: 200px;
    
}