
.div-min-flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.div-min-block {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.div-ingredients-add {
    float: left;
    width: 30%;
    display: block;
    margin-right: 10px;
}

#div-ingredients {
    float: left;
    display: block;
    width: 30%;
    margin-right: 10px;
}

.div-half {
    width: 50%;
    float: left;
}

table, form {
    margin: auto;
}

td, th {
    padding: 5px;
}

/*#table-ingredients {
    float: left;
    width: 70%;
    margin-right: 10px;
}*/

#save-edit-product {
    clear: left;
}

input, select {
    margin: 4px;
}

.div-min-flex button, .div-min-flex a, .validation, .div-min-block button, .div-min-block a {
    margin: 6px 4px 6px 4px;
}

label {
    display: block;
    float: left;
    margin: 2px;
    width: 100px;
}

.div-clear-left {
    clear: left;
}