@model PizzeriaASP.ViewModels.AdminEditViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="div-min-flex">
    <div class="div-min-flex">
        <form asp-controller="AdminProducts" asp-action="" method="post">

            @Html.Partial("_EditAddProductLayout", Model)

            <div id="save-edit-product" class="text-center">
                <button class="btn btn-primary" type="submit" formaction="Edit">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    
    <div id="div-ingredients" class="div-min-block">
        @*@Html.Partial("_EditAddIngredientPartial", Model.IngredientList)*@
    </div>

    <div class="div-ingredients-add">
        <form asp-controller="AdminProducts" asp-action="AddIngredient"
              data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#div-ingredients">
            <select asp-for="SelectedIngredientId" asp-items="@Model.OptionalIngredientsList">
                <option disabled selected value="">Select Ingredient</option>
            </select>
            <input type="submit" class="btn btn-primary" value="Add Ingredient"/>
        </form>
    </div>
</div>





