@model PizzeriaASP.ViewModels.AdminEditViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="div-min">
    <form asp-action="" method="post">

        @Html.Partial("_EditAddLayout",Model);

        <div class="div-min">
            <table id="table-ingredients" class="table table-striped, table-bordered table-sm">
                <tr>
                    <th>Ingredient</th>
                    <th class="text-center">Actions</th>
                </tr>
                @foreach (var item in Model.IngredientList)
                {
                    <tr>
                        <td>@item.ProduktNamn</td>
                        <td class="text-center">
                            <button type="submit" formaction="RemoveIngredient" class="btn btn-danger btn-sm">
                                <input type="hidden" asp-for="@item.ProduktId" />
                                <i class="icon-trash icon-large "></i> Delete
                            </button>
                        </td>
                    </tr>
                }
            </table>
            <select asp-for="SelectedIngredientId" asp-items="@Model.OptionalIngredientsList"></select>
            <button type="submit" formaction="AddIngredient" class="btn btn-primary">Add Ingredient</button>
            <div class="text-center">

            </div><br />
            <div id="save-edit-product" class="text-center">
                <button class="btn btn-primary" type="submit" formaction="AddProduct">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
