@using Microsoft.AspNetCore.Identity
@using PizzeriaASP
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

@model PizzeriaASP.Models.Kund

@{
    ViewData["Title"] = "Index";
}

<div class="div-min-flex text-center">
    <h1>Welcome to Tomosos Pizzeria</h1>
    <h2><strong>#1</strong> on TripAdvisor</h2> 
</div>
