@model List<PizzeriaASP.ViewModels.AdminUsersIndexViewModel>

@Html.Partial("_H2Layout", "Admin Users")


<div id="delete-user" class="div-min-flex">
    @Html.Partial("_DeleteUserPartial", Model)
</div>



