@model List<PizzeriaASP.ViewModels.AdminUsersIndexViewModel>

<div class="div-min">
        <table class="table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Current role</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in @Model)
            {

                <tr>
                    <td>@item.User.UserName</td>
                    <td>@item.Role</td>
                    <td>
                        
                        <a asp-controller="AdminUsers" asp-action="EditRole" asp-route-user="@item.User.UserName"
                           class="btn btn-sm btn-warning">
                            <i class="icon-edit"></i> Edit Role
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

</div>



